<h1 mat-dialog-title>¿Está seguro?</h1>
<div mat-dialog-content>
    <hr>
<p>
    Está a punto de borrar a '{{data.superhero}}'
    <br>
    ¿Desea continuar?
</p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="borrar()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Sí, borrar!
    </button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="cerrar()" color="primary">
        <mat-icon>cancel</mat-icon>
        Cancelar!
    </button>
</div>
<!-- 
<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
    Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->